includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - tests/

    level: 8

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkGenericClassInNonGenericObjectType: false

    earlyTerminatingMethodCalls:
        App\Http\Controllers\Controller:
            - respondWithError
